.content {
    padding: 42px 144px;
    text-align: center;
    h2 {
        margin-bottom: 50px;
        color: $text-color;
        font-size: 38px;
        font-weight: normal;    
    }
    img {
        margin-bottom: 25px;
    }
}